
/***** BASE STYLES *****/
body {
    font-family: 'Questa', serif;
    color: #ffffff;
}

@font-face {
  font-family: Questa;
  src: url('../fonts/Questa_Regular-webfont.woff') format('woff');
}


/****** GRID *****/

.container1 {
    height: 400px;
}

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}


/***** HEADER *****/

header{
	background: url("../img/hero-image.png"); 
	background-size: cover;
    height: 800px;
}

header h1 {
    clear: both;
    color: #bdbf09;
    font-family: 'Patua One', serif; 
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    padding: 30px 0 0 200px;
    text-align: center;
    width: 1000px;
}

header p{
	clear: both;
    color: #095256;
    font-family: 'Questa', serif;
    font-size: 30px;
    padding: 0px 0 20px 400px;
    text-align: center;
    width: 600px;
}


nav {
    float: right; 
    padding: 130px 55px;

}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 20px;
    color: #095256;
    padding-left: 60px; 
}


/***** PORTFOLIO *****/
#portfolio {
    background-color: #ffffff;
}

#portfolio h2 {
    color: #095256;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center; 
}

#portfolio img {
    padding-top: 30px;
    padding-bottom: 30px;
}

#portfolio h3 {
    color: #095256;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;

}

#portfolio p {
    color: #095256;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
}

/***** ABOUT *****/
#about .full-width {
    background-color: #087e8b;
}

#about h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
}

/***** CONTACT *****/
#contact {
    background-color: #095156;
}

#contact h2 {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
}

#contact h3 {
    color: #ffffff;
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#contact p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
